<%- include("partials/header"); -%>
<style type="text/css">
	#perc{
		overflow: scroll;
		overflow-x: hidden;
		height: 200px;
		width: 100%;
	}
</style>
<div class="container">
	<div class="row">
		<div id="col-lg-4">
		  <h1 class= "text-center"> <%= content %> </p>
		  <h1> <%= name %> </h1>
		  
		<div class="col-lg-4">
			<h3 class="text-center">User Info</h3>
			<label>Date of birth</label>
				<p> <%= user.DoB %> </p>
			<label>Gender</label>
				<p> <%= user.gender %> </p>
			<label>Email</label>
				<p> <%= user.email %> </p>
		</div>

		<div class="col-lg-4">
			<h3 class="text-center">Make an Appointment</h3>
		  		
		</div>

		

		
		<div class="col-lg-4">
			<h3 class="text-center">Upcoming Appointments</h3>
			
		</div>
	</div>
</div>
<%- include("partials/footer"); -%>
